@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: border-box;
    margin: 0;
    margin: 0;
}
body {
    line-height: 1.6;
}
h1{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 36px;

}
form{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}
#search-text{
    font-size: 20px;
    border-radius: 5px;
    border-color:grey;
    margin: 10px;
    
}

#button-one{
 background-color:#2E8B57;
 border-radius: 5px;
 font-size: 20px;
 color: white;
 border-color: white;

}


img{
    width: 100%;
    height: auto;
    
}
.search-result img{
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease-in-out;
}

.search-result:hover img {
    opacity: 0.8;
}
a {
 color: black;
 text-decoration: none;
}

.search-results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.search-result {
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.search-result a{
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

#show-more-button{
    background-color: #008cba;
    font-size: 18px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px){
    .search-results {
        padding: 20px;
    }
    .search-result {
        width: 45%;
    }
}
@media screen and (max-width: 480px) {
    .search-result {
        width: 100%;
    }
}